bcrypt~=4.0.1
fastapi==0.115.2
pydantic~=2.7.3
pydantic[email]
python-dotenv==1.0.1
pytz==2024.1
redis~=4.3.4
Jinja2==3.1.6
shortuuid==1.0.12
uvicorn
pyyaml~=6.0
httpx
cryptography==43.0.1
PyJWT~=2.10.1
pymongo
itsdangerous
python-multipart
celery[redis]
starlette-context