bcrypt~=4.0.1
celery[redis]==5.5.2
cryptography==43.0.1
fastapi==0.115.2
httpx==0.24.1
itsdangerous==2.1.1
Jinja2==3.1.6
motor==3.6.0
pydantic~=2.7.3
pydantic[email]
PyJWT~=2.10.1
python-dotenv==1.0.1
python-multipart==0.0.20
pytz==2024.1
pyyaml~=6.0
redis~=4.3.4
shortuuid==1.0.12
starlette-context==0.4.0
uvicorn==0.34.2
